# flask
# flask-cors
# joblib
# pandas
# numpy
# pillow
# tensorflow
# scikit-learn
# python.exe -m pip install --upgrade pip
# imblearn
# pip install -r requirements.txt
# gunicorn

flask==3.1.0
flask-cors==5.0.0
joblib==1.4.2
pandas==2.2.3
numpy==1.26.4
pillow==11.0.0
tensorflow==2.18.0
scikit-learn==1.6.1
gunicorn==23.0.0